:root {
  font-size: 62.5%;
  scroll-behavior: smooth;

  body {
    font-family: $font-mulish;
    font-size: 1.6rem;
    line-height: 1.8;
    margin: 0;
  }
}

// @media (hover: hover) {
//   &:hover {
//     transform: scale(105%);
//   }
// }

section {
  box-sizing: border-box;
}

.container {
  box-sizing: border-box;
  margin: auto;
  padding: 2rem 4rem;
  position: relative;
  width: 100%;
  max-width: 177rem;
}

.text-grey {
  color: $color-secondary !important;
}

.fw-bold {
  font-weight: bold;
}

.box-shadow {
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.hidden {
  display: none !important;
}