:root {
  font-size: 62.5%;

  body {
    font-family: $font-mulish;
    font-size: 1.6rem;
    line-height: 1.8;
    margin: 0;
    // overflow: hidden;
  }
}

// @media (hover: hover) {
//   &:hover {
//     transform: scale(105%);
//   }
// }

section {
  box-sizing: border-box;
}

.container {
  margin: auto;
  max-width: 108.8rem;
  position: relative;
  width: 100%;
}

.text-grey {
  color: $color-secondary;
}

.box-shadow {
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}