@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@300;500;700');

$font-mulish: 'Mulish', sans-serif;

$grid-breakpoints: (
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1366px,
);

$color-primary: #2B5482;
$color-secondary: #929292;