@import url("https://fonts.googleapis.com/css2?family=Mulish:wght@300;500;700");
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block; }

body {
  line-height: 1; }

ol,
ul {
  list-style: none; }

blockquote,
q {
  quotes: none; }

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

a {
  color: inherit;
  text-decoration: none; }

button {
  border: none;
  margin: 0;
  padding: 0;
  width: auto;
  overflow: visible;
  background: transparent;
  /* inherit font & color from ancestor */
  color: inherit;
  font: inherit;
  /* Normalize `line-height`. Cannot be changed from `normal` in Firefox 4+. */
  line-height: normal;
  /* Corrects font smoothing for webkit */
  -webkit-font-smoothing: inherit;
  -moz-osx-font-smoothing: inherit;
  /* Corrects inability to style clickable `input` types in iOS */
  -webkit-appearance: none;
  cursor: pointer; }

:root {
  font-size: 62.5%; }
  :root body {
    font-family: "Mulish", sans-serif;
    font-size: 1.6rem;
    line-height: 1.8;
    margin: 0; }

section {
  box-sizing: border-box; }

.container {
  margin: auto;
  max-width: 108.8rem;
  position: relative;
  width: 100%; }

.text-grey {
  color: #929292; }

.box-shadow, .filter__select, .filter__button {
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px; }

.header {
  align-items: center;
  background-color: #2B5482;
  box-sizing: border-box;
  color: white;
  display: flex;
  height: 20rem;
  justify-content: space-between;
  left: 0;
  padding: 0 3.5rem;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1; }
  .header__logo {
    width: 13.3rem; }
  .header__title {
    font-size: 4.2rem;
    font-weight: 600;
    line-height: 1.1; }
  .header__start, .header__end {
    align-items: center;
    display: flex;
    gap: 3rem;
    justify-content: center; }
  .header__search {
    position: relative; }
  .header__search-icon {
    fill: #929292;
    height: 2rem;
    width: 2rem; }
  .header__search-button {
    position: absolute;
    right: 1rem;
    top: 1.2rem; }
  .header__search-input {
    font-family: "Mulish", sans-serif;
    padding: 1rem 3.8rem 1rem 1.5rem;
    width: 24rem; }

.filter {
  margin-top: 20rem;
  padding: 2rem 4rem;
  width: 100%; }
  .filter__bar {
    display: flex;
    margin-bottom: 2.8rem;
    margin-top: 1rem; }
  .filter__select {
    border: none;
    font-family: "Mulish", sans-serif;
    height: 4rem;
    margin-right: 3rem;
    padding: 0 1rem;
    width: 100%; }
  .filter__button {
    align-self: center;
    background-color: #2B5482;
    display: flex;
    height: 4rem;
    justify-content: center;
    transition: 0.3s ease;
    width: 100%; }
    @media (hover: hover) {
      .filter__button:hover {
        opacity: .9; } }
  .filter__icon {
    fill: white;
    height: 1.6rem;
    margin: auto;
    width: 1.6rem; }
  .filter__line {
    border-top: 1px solid #2B5482;
    border: none; }
  .filter__results {
    color: #2B5482;
    font-weight: 300;
    letter-spacing: .2rem;
    margin-top: .8rem; }
